.mainContainer {
    background-color: #cce6ff;
    border: 3px solid black;
    padding: 1%;
    margin: 0 auto;
    width: 215px;
}

.bigButton button {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.biggerButtons {
    width: 105px !important;
}

.operator {
    background-color: #ffe8cc;
}

.operations {
    background-color: #ffd6cc;
}

#newResult {
    border: 3px solid black;
    width: 25%;
    height: 100%;
    font-size: 64px;
    margin: 0 36%;
}

#grad {
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,0,0,0),rgba(255,230,230,250)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,0,0,0),rgba(255,230,230,250)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,0,0,0),rgba(255,230,230,250)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,0,0,0), rgba(255,230,230,250)); /*Standard*/
}