.container-fluid {
    background-color: #cce6ff;
    border: 3px solid black;
    margin: 10% auto;
    width: 240px;
    padding: 10px;
}

.form-control {
  font-size: 25px;
  border: 2px solid black;
  resize: none;
}

.bigButton button {
    width: 50px;
    height: 50px;
    font-size: 30px;
}

.bigButton .biggerButtons {
    width: 105px;
}

.operator {
    background-color: #ffe8cc;
}

.operations {
    background-color: #ffd6cc;
}

#grad {
  background: lightblue; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(left,rgba(255,70,70,0),rgba(185,130,150,120)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,70,70,0),rgba(185,130,150,120)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,70,70,0),rgba(185,130,150,120)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,70,70,0), rgba(185,130,150,120)); /*Standard*/
}